<div class="section">
  <h3>Milestones</h3>
  
<hr>
  <table class="striped table-section">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th id="mobile-hide">Deadline</th>
        <th id="mobile-hide">Status</th>
        <th colspan="4">Action</th>

      </tr>
    </thead>
    <tbody>
      <% @milestones.each_with_index do |milestone, index| %>
        <% if milestone.id.present? %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= milestone.name %></td>
            <td id="mobile-hide"><%= milestone.deadline %></td>
            <td id="mobile-hide"><%= link_to milestone.status, toggle_status_project_milestone_path(milestone.project, milestone) %></td>

            <!--
            <td>
              <label><input type="checkbox" />
                <span></span>
              </label>
            </td>
            -->
            <td>
              <%= link_to (content_tag(:i, nil, class: 'fas fa-folder-open')), [milestone.project, milestone] %> |
              <%= link_to (content_tag(:i, nil, class: 'fas fa-trash-alt')), [milestone.project, milestone], method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>