<div class="section">
  <h3>Milestones</h3>
  
<hr>
  <table class="striped table-section">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deadline</th>
        <th>Status</th>
        <th colspan="3">Action</th>

      </tr>
    </thead>
    <tbody>
      <% @milestones.each do |milestone| %>
        <% if milestone.id.present? %>
          <tr>
            <td><%= milestone.id %></td>
            <td><%= milestone.name %></td>
            <td><%= milestone.deadline %></td>
            <td>
              <label><input type="checkbox" />
                <span></span>
              </label>
            </td>
            <td>
              <%= link_to (content_tag(:i, nil, class: 'fas fa-folder-open')), [milestone.project, milestone] %> |
              <%= link_to (content_tag(:i, nil, class: 'fas fa-trash-alt')), [milestone.project, milestone], method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>