<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @milestone.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= @milestone.status %>
</p>

<p>
  <strong>Project:</strong>
  <%= @milestone.project_id %>
</p>

<%= link_to 'Edit', edit_project_milestone_path(@milestone) %> |
<%= link_to 'Back', project_milestone_path %>
