<div class="container">
  <h2>Project dashboard</h2>
  <hr>
  <br>
  <div>
    <img class="responsive-img z-depth-3" src="/assets/profile.jpg">
    <h5>Hi <%= @user.first_name %>, welcome to your project dashboard! </h5>
    <p>This is the one stop shop which lists all your projects, you can create new project or update/delete exsiting
      projects, so you
      can stay organized and save time.</p>
    <br><hr><br>
    <h4>Manage project</h4>
    <br>
    <%= link_to 'Add New Project', new_project_path, class: "btn waves-effect waves-light"%>

    <table class="striped table-section">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created at</th>
        <th>Action</th>
        <th colspan="4"></th>
      </thead>
      <tbody>
        <% @user.projects.each_with_index do |project, index| %>
        <tr>
        <td><%= index + 1 %></td>
          <td><%=project.title %></td>
          <td><%=project.description %></td>
          <td><%=project.created_at.to_date %></td>
          <td>
            <%= link_to 'Show', project %> <span> | </span>
            <%= link_to 'Edit', edit_project_path(project) %> <span> | </span>
            <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>

          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br><hr><br>
    <h4>Manage personal information</h4>
    <br>
    <%= link_to 'Change password',edit_user_registration_path, class: "btn waves-effect waves-light" %>
    <br><br>
    </div>
  <br>
</div>