<p id="notice"><%= notice %></p>

<h2>Projects</h2>

<h4>List View</h4>

<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Description</th>
      <th>Owner</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.address %></td>
      <td><%= project.description %></td>
      <td><%= User.find(project.user_id).first_name %></td>
      <td>
      <%= link_to 'Show', project %> <span> | </span>
      <%= link_to 'Edit', edit_project_path(project) %> <span> | </span>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: "btn waves-effect waves-light"%>

<br>

<h4>Card View</h4>
<div class="row ">
<% @projects.each do |project| %>

  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://picsum.photos/200/200.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= project.title %><i
            class="material-icons right">more_vert</i></span>
        <p><%= link_to 'Project Page', project %></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Project Description<i class="material-icons right">close</i></span>
        <p><%= project.description %></p>
      </div>
    </div>
  </div>

<% end %>
  </div>
