<div class="container">
  <p id="notice"><%=notice %></p>
  <h3><%=@project.title %></h3>
  <hr><br><br>
  <blockquote>
    <p><strong>Address: </strong><%=@project.address %></p>
    <p><strong>Description: </strong><%=@project.description %></p>
    <p><strong>Created by: </strong><%=@user.first_name %></p>
    <p><strong>Progress: </strong></p>
  </blockquote>
  <form action="#">
    <p class="range-field"><input type="range" id="test5" min="0" max="100" /></p>
  </form><br><br><%=link_to 'Edit',
edit_project_path(@project) %>| <%=link_to 'Back',
projects_path %><%=render 'milestones/milestone_list'%><div><%=render 'milestones/milestone_add'%></div>
</div>