  <nav>
    <div class="nav-wrapper container">
      <a id="logo-container" href="../" class="brand-logo">alreadyin<span class="material-icons">home</span></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to  "How it works", howitworks_path %></li>
        <li><%= link_to  "About us", about_path %></li>
        
        <li><%= link_to  "Contact", contact_path %></li>

        <% if current_user %>
        <li><%= link_to  "my Projects", projects_path %></li>
        <li><%= link_to 'Profile',profile_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

        <% else %>

        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>

        <% end %>
        
      </ul>
    </div>
  </nav>