<!DOCTYPE html>
<html>

<head>
  <title>alreadyin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav class="red darken-3">
    <div class="nav-wrapper container">
      <a id="logo-container" href="../" class="brand-logo">alreadyin<span class="material-icons">home</span></a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to  "Home", root_path %></li>
        <li><%= link_to  "About", about_path %></li>
        <li><%= link_to  "Projects", projects_path %></li>
        <li><%= link_to  "Contact", contact_path %></li>

        <% if current_user %>
        <li><%= link_to 'Profile',profile_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>

        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>

        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
  <script>
    M.AutoInit();
  </script>
</body>


</html>